[submodule "Part 1"]
	path = Part 1
	url = https://github.com/ramirsultanov/edu-robotics-1.git
[submodule "Part 2"]
	path = Part 2
	url = git@github.com:ramirsultanov/edu-robotics-2.git
[submodule "Part 3"]
	path = Part 3
	url = git@github.com:ramirsultanov/edu-robotics-3.git
[submodule "Part 4"]
	path = Part 4
	url = git@github.com:ramirsultanov/edu-robotics-4.git
